<style>
  .title {
    font-size: 12pt;
  }
  .content {
    font-size: 10pt;
  }
</style>
<div class="component border">
    <div class="title">Gene Coverage</div>
    <p class="content"><%= geneCoverageText %>
    </p>
</div>
