<style>
    .footerContent {
      font-size: 7.5pt;
    }
    
  </style>
  <div class="component footer">
    <p class="footerContent">
        <b>HGSC Clinical Laboratory</b> &bull; One Baylor Plaza, Houston TX, 77030 <br>
        Phone: 713.798.6539 &bull; Fax: 713.798.5741 &bull; <a href="www.hgsc.bcm.edu">www.hgsc.bcm.edu</a> &bull; <a href="mailto:cvdgenomics@hgsc.bcm.edu">cvdgenomics@hgsc.bcm.edu</a>
      </p>
    
      <!-- New -->
      <p class="footerContent">
        Copyright &copy; 2018 HGSC Clinical Laboratory. All rights reserved. <%= footer %>
      </p>
  </div>
  