<style>
  ul {
    list-style: none;
  }
  .title {
    font-size: 12pt;
  }
  .content {
    font-size: 10pt;
  }
</style>
<div class="component border">
  <div class="border">
      <div class="title">Methodology and Test Limitations</div>
      <ul class="content">
        <% for(var i = 0; i < methodology.length; i++) { %>
          <li><%= methodology[i] %></li><br>
        <% } %>
      </ul>
  </div>
</div>
