<style>
    .title {
      font-size: 12pt;
    }
  </style>
  <div>
    <!-- Positive -->
    <% if(panelFinding.toLowerCase() === 'positive') { %>
      <div class="component border-gene-panel-positive">
        <div class="title positive">Section 1:: 158 Cardiac Gene Panel: <%= panelFinding %></div>

 
        
        <%- include('./hgsccl-cvd-report-pathogenic-variants', {
          variants: report.variants,
          report: report,
          reportableVariants: reportableVariants
        }); %> 


      </div>
    <% } %>

    <!-- Negative -->
    <% if(panelFinding.toLowerCase() === 'negative') { %>
      <div class="component border-gene-panel-negative">
        <div class="title negative">Section 1 :: 158 Cardiac Gene Panel: <%= panelFinding %></div>
        
        <%- include('./hgsccl-cvd-report-pathogenic-variants', {
          variants: report.variants,
          report: report
        }); %> 

      </div>
    <% } %>
  </div>