  
# Dependency directories
node_modules/

# dotenv environment variables file
.DS_Store
package-lock.json

# pdf 
example.pdf

#img folder
publics/assets/img/*
data/dev_data_reports_1a.js
data/Report.js
